.card {
    cursor: pointer;
    margin: 10px;
    height: 350px;
    width: 300px;
    
}

.card__image img {
    max-width: 300px;
    width: 220px;
    max-height: 300px;
    height: 300px;
    object-fit: fill;
    overflow: hidden;
    border-radius: 20px;
}

.card_description {
    padding: 20px;
}
