.management {
    
}

.add__movie {
    margin-left: 100px;
    margin-top: 140px;
}

.data__grid__manager {
    width: 850px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: aliceblue;
}